#sidebar {
  height: 80vh;
}

body {
  background-color: #c5cae9;
  color: white;
}

#top-bar {
  background-color: #3f51b5;
  color: white;
  text-decoration: none;
}

#heading {
  color: #212121;
}

#heading span {
  color: #757575;
}

#form {
  background-color: #ffffff;
}

#container-previsioni {
  background-color: #ffffff;
  color: #212121;
}
